.App {
  text-align: center;
}

.Landing_page-container {
  position: relative;
  width: 100%;
}

.Landing_page-body {
  width: 500px;
  margin: auto;
}

tr {
  text-align: left;
}

td {
  padding-left: 30px;
}

